<nav class="row navbar navbar-dark bg-dark">
    <a class="navbar-brand" href="#">GoOnTrip</a>
    <ul class="nav justify-content-center">
        <li class="nav-item">
            <a class="nav-link" href="#">Lugares</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">Reservar</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">Nosotros</a>
        </li>
    </ul>
</nav>
<img src="../../assets/Recursos/siluetas-mundo.jpg" class="img-fluid"/>
