<div class ="row mx-auto bg-warning">
    <img class="col-sm-4 d-none d-sm-none d-md-block" id="ImgLaterales" src="../../assets/Recursos/police.jpg"/>
    <div id="conteregistro" class="col-sm-4 col-10 mx-auto border border-primary p-5 bg-light">
        <div class="container-fluid h-10">
            <h1 class= "row text-center">Recuperar</h1>
            <p class ="row text-center">Te enviaremos un mensaje de confirmación<p>
        </div>
        <form>
            <div class="form-group">
                <label for="mail" >Correo: </label>
                <input type="text" name="email" id="mail" class="form-control">
            </div>
            <div>
                <a routerLink="../index"><button class=""type="submit" class="btn btn-dark">Enviar verificación</button></a>
            </div>
        </form>
    </div>
    <img class="col-sm-4 d-none d-sm-none d-md-block" id="ImgLaterales" src="../../assets/Recursos/police.jpg"/>
</div>
