<main role="main" class="container">
    <div class ="row">
        <div class="col-3 flex-column">
            <p><a class="btn btn-secondary" href="#queEsLaFiscalia-text" role="button">Qué es la Fiscalía?</a></p>
            <p><a class="btn btn-secondary" href="#mision-text" role="button">Misión</a></p>
            <p><a class="btn btn-secondary" href="#vision-text" role="button">Visión</a></p>
            <p><a class="btn btn-secondary" href="#funciones-text" role="button">Funciones</a></p>
            <p><a class="btn btn-secondary" href="#directorio-text" role="button">Directorio</a></p>
            <p><a class="btn btn-secondary" href="#sobreNosotros-text" role="button">Sobre nosotros</a></p>
        </div>
        <div class="col-9 scrollable">
            <img class="border border-dark img-fluid" id="fotoFiscalia" src="../../assets/Recursos/edificioFiscalia-General-del-Estado.jpg">      
            <div  class=" col-auto text-justify" id ="queEsLaFiscalia-text">
                <h2>
                    ¿Qué es la Fiscalía?
                    <small class="text-muted">Base constitucional y legal</small>
                </h2>
  
                <p class = "font-weight-bold">Según el Art. 194 de la Constitución de la República:</p>
  
                <p>La Fiscalía General del Estado es un órgano autónomo de la Función Judicial, único e indivisible; funcionará de forma desconcentrada y tendrá autonomía administrativa, económica y financiera. La Fiscal o el Fiscal General es su máxima autoridad y representante legal y actuará con sujeción a los principios constitucionales, derechos y garantías del debido proceso.</p> 
  
                <p class = "font-weight-bold">Según el Art. 195 de la Constitución de la República la Fiscalía General del Estado:</p>
                <ul>
                    <li>Dirigirá de oficio o a petición de parte, la investigación preprocesal y procesal penal;</li>
                    <li>Durante el proceso ejercerá la acción pública con sujeción a los principios de oportunidad y mínima intervención penal, con especial atención al interés público y a los derechos de las víctimas.</li>
                    <li>De hallar mérito acusará a los presuntos infractores ante el Juez competente, e impulsará la acusación en la sustanciación penal.</li>
                    <li>Para cumplir sus funciones, la Fiscalía organizará y dirigirá un sistema especializado integral de investigación, dé medicina legal y ciencias forenses, que incluirá un personal de investigación civil y policial,</li>
                    <li>Dirigirá el sistema de protección y asistencia a víctimas, testigos y participantes en el proceso penal; y,</li>
                    <li>Cumplirá con las demás atribuciones establecidas en la ley.</li>
                </ul>
            </div>
            <div class=" col-auto text-justify" id="mision-text">
                <h2>Misión</h2>
                <p>La Fiscalía General del Estado es una institución autónoma, que dirige la investigación preprocesal y procesal penal, procurando el acceso a la justicia con sujeción a los principios de oportunidad y mínima intervención penal, con especial atención al interés público y a los derechos de las víctimas.</p>
            </div>
            <div class="col-auto text-justify" id="vision-text">
                <h2>Visión</h2>
                <p>La Fiscalía General del Estado será una institución integrada por personal especializado y comprometido en la procuración de la justicia reconocida por su lucha contra el crimen y la inseguridad, mediante la innovación de procesos y operaciones, la transparencia de la gestión y la efectividad en la reducción de la impunidad.</p> 
            </div>
            <div class="col-auto text-justify" id="funciones-text">
                <h2>Funciones</h2>
                <p class="font-weight-bold">Según el Art. 282 del Código Orgánico de la Función Judicial, a la Fiscalía General del Estado le corresponde:</p>
                <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link active" id="pills-01-tab" data-toggle="pill" href="#pills-01" role="tab" aria-controls="pills-01" aria-selected="true">01</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="pills-02-tab" data-toggle="pill" href="#pills-02" role="tab" aria-controls="pills-02" aria-selected="false">02</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="pills-03-tab" data-toggle="pill" href="#pills-03" role="tab" aria-controls="pills-03" aria-selected="false">03</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="pills-04-tab" data-toggle="pill" href="#pills-04" role="tab" aria-controls="pills-04" aria-selected="false">04</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="pills-05-tab" data-toggle="pill" href="#pills-05" role="tab" aria-controls="pills-05" aria-selected="false">05</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="pills-06-tab" data-toggle="pill" href="#pills-06" role="tab" aria-controls="pills-06" aria-selected="false">06</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="pills-07-tab" data-toggle="pill" href="#pills-07" role="tab" aria-controls="pills-07" aria-selected="false">07</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="pills-08-tab" data-toggle="pill" href="#pills-08" role="tab" aria-controls="pills-08" aria-selected="false">08</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="pills-09-tab" data-toggle="pill" href="#pills-09" role="tab" aria-controls="pills-09" aria-selected="false">09</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="pills-10-tab" data-toggle="pill" href="#pills-10" role="tab" aria-controls="pills-10" aria-selected="false">10</a>
                    </li>
                </ul>
                <div class="tab-content" id="pills-tabContent">
                    <div class="tab-pane fade show active" id="pills-01" role="tabpanel" aria-labelledby="pills-01-tab">Dirigir y promover, de oficio o a petición de parte, la investigación pre procesal y procesal penal, de acuerdo con el Código de Procedimiento Penal y demás leyes, en casos de acción penal pública; de hallar mérito acusar a los
                                        presuntos infractores ante el Juez competente e impulsar la acusación en la sustanciación del juicio penal;</div>
                    <div class="tab-pane fade" id="pills-02" role="tabpanel" aria-labelledby="pills-02-tab">Dirigir y coordinar las actuaciones de la Policía Judicial en las indagaciones previas en las etapas del proceso penal;</div>
                    <div class="tab-pane fade" id="pills-03" role="tabpanel" aria-labelledby="pills-03-tab">Garantizar la intervención de la defensa de los imputados o procesados, en las indagaciones previas y las investigaciones procesales por delitos de acción pública, quienes deberán ser citados y notificados para los efectos de intervenir
                                        en las diligencias probatorias y aportar pruebas de descargo, cualquier actuación que viole esta disposición carecerá de eficacia probatoria;</div>
                    <div class="tab-pane fade" id="pills-04" role="tabpanel" aria-labelledby="pills-04-tab">Dirigir, coordinar y supervisar las funciones de intercambio de la información y pruebas sobre nacionales o extranjeros implicados en delitos cometidos en el exterior, cuando así lo prevean los acuerdos y tratados internacionales;</div>
                    <div class="tab-pane fade" id="pills-05" role="tabpanel" aria-labelledby="pills-05-tab">Dirigir y coordinar el Sistema Nacional de Medicina Legal y Ciencias Forenses que contará con la ayuda de organismos gubernamentales y no gubernamentales con el fin de establecer, de manera técnica y científica, procedimientos
                                        estandarizados para la práctica de la pericia médico legal;</div>
                    <div class="tab-pane fade" id="pills-06" role="tabpanel" aria-labelledby="pills-06-tab">Conceder y revocar las correspondientes habilitaciones o acreditaciones, al personal de la Policía Judicial;</div>
                    <div class="tab-pane fade" id="pills-07" role="tabpanel" aria-labelledby="pills-07-tab">Expedir en coordinación con la Policía Nacional los manuales de procedimiento y normas técnicas para el desempeño de las funciones de la Policía Judicial;</div>
                    <div class="tab-pane fade" id="pills-08" role="tabpanel" aria-labelledby="pills-08-tab">Apoyar técnicamente a las personas que hacen sus prácticas pre profesionales en la Fiscalía General del Estado;</div>
                    <div class="tab-pane fade" id="pills-09" role="tabpanel" aria-labelledby="pills-09-tab">Organizar y dirigir el sistema de protección de víctimas, testigos y otros participantes del proceso penal; y</div>    
                    <div class="tab-pane fade" id="pills-10" role="tabpanel" aria-labelledby="pills-10-tab">Las demás determinadas en la Constitución y la ley.</div>       
                </div>
            </div>
            <div class="col-auto text-justify" id="directorio-text">
                <h2>Directorio</h2>
                <h3>Unidades de flagrancia</h3>
                <div class="row"> 
                    <div class="col">     
                        <table class="table table-hover">
                            <thead>
                                <tr>     
                                    <th scope="col">Unidad</th>
                                    <th scope="col">Teléfono</th>
                                </tr>
                            </thead>            
                            <tbody>                  
                                <tr>                     
                                    <th scope="row">Azuay</th>                  
                                    <td>(+593) 07 4103 919</td>                  
                                </tr>                        
                                <tr>                        
                                    <th scope="row">Bolívar</th>                             
                                    <td>(+593) 03 2980 619</td>                         
                                </tr>                          
                                <tr>                            
                                    <th scope="row">Carchi</th>                       
                                    <td>(+593) 06 2960 931</td>                           
                                </tr>                          
                                <tr>                             
                                    <th scope="row">Cañar</th>                       
                                    <td>(+593) 07 2240 895</td>             
                                </tr>                
                                <tr>     
                                    <th scope="row">Chimborazo</th>                         
                                    <td>(+593) 03 2953 633</td>
                                </tr>                   
                                <tr>                       
                                    <th scope="row">Cotopaxi</th>                   
                                    <td>(+593) 03 2806 306</td>                  
                                </tr>                         
                                <tr>                       
                                    <th scope="row">El Oro</th>                 
                                    <td>(+593) 07 2961 566</td>              
                                </tr>
                                <tr>                        
                                    <th scope="row">Esmeraldas</th>                    
                                    <td>(+593) 06 2726 886</td>                 
                                </tr>                  
                                <tr>                     
                                    <th scope="row">Galápagos</th>           
                                    <td>(+593) 05 2520 195</td>                 
                                </tr>                    
                                <tr>                            
                                    <th scope="row">Guayas</th>      
                                    <td>(+593) 04 2321 220</td>  
                                </tr>                       
                                <tr>                           
                                    <th scope="row">Imbabura</th>                
                                    <td>(+593) 06 2952 386</td>                         
                                </tr>                            
                                <tr>                            
                                    <th scope="row">Loja</th>           
                                    <td>(+593) 07 2574 119</td>                         
                                </tr>
                            </tbody>                            
                        </table>                  
                    </div>                   
                    <div class="col">                   
                        <table class="table table-hover">                             
                            <thead>                               
                                <tr>                           
                                    <th scope="col">Unidad</th>                          
                                    <th scope="col">Teléfono</th>                          
                                </tr>                     
                            </thead>                          
                            <tbody>                            
                                <tr>
                                    <th scope="row">Los Ríos</th>                      
                                    <td>(+593) 05 2734 999</td>              
                                </tr>                  
                                <tr>                       
                                    <th scope="row">Manabí</th>             
                                    <td>(+593) 05 2654 606</td>                   
                                </tr>                
                                <tr>
                                    <th scope="row">Morona Santiago</th>
                                    <td>-</td>
                                </tr>
                                <tr>     
                                    <th scope="row">Napo</th>
                                    <td>(+593) 06 2846 474</td>
                                </tr>
                                <tr>   
                                    <th scope="row">Orellana</th>
                                    <td>(+593) 06 2883 814</td>
                                </tr>
                                <tr>
                                    <th scope="row">Pastaza</th>
                                    <td>(+593) 03 2884 059</td>
                                </tr>             
                                <tr>                
                                    <th scope="row">Pichincha</th>
                                    <td>(+593) 02 2905 053</td>
                                </tr>            
                                <tr>                
                                    <th scope="row">Santo Domingo</th>
                                    <td>(+593) 02 2760 338</td>
                                </tr>           
                                <tr>             
                                    <th scope="row">Santa Elena</th>
                                    <td>(+593) 04 2785 071</td>
                                </tr>
                                <tr>
                                    <th scope="row">Sucumbíos</th>
                                    <td>(+593) 06 2835 179</td>
                                </tr>    
                                <tr>
                                    <th scope="row">Tungurahua</th>
                                    <td>(+593) 03 2420 281</td>
                                </tr>
                                <tr>
                                    <th scope="row">Zamora Chinchipe</th>
                                    <td>(+593) 07 2605 115</td>
                                </tr>             
                            </tbody>          
                        </table>                        
                    </div>                   
                </div>                
            </div>
            <div class="col-auto text-justify" id="sobreNosotros-text">    
                <h2>Sobre nosotros
                <small class="text-muted"> Los programadores</small>
                </h2>
                <div class="card-group">
                    <div class="card">
                        <img src="../../assets/Recursos/placeholder200.jpg" class="card-img-top" alt="...">
                        <div class="card-body">   
                            <h5 class="card-title">Matheus López</h5>
                        </div>     
                    </div>          
                    <div class="card">    
                        <img src="../../assets/Recursos/placeholder200.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Kevin Briones</h5>
                        </div>
                    </div>       
                    <div class="card">
                        <img src="../../assets/Recursos/placeholder200.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Joel Torres</h5>
                        </div>
                    </div>
                    <div class="card">
                        <img src="../../assets/Recursos/placeholder200.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">J.D. Vallejo</h5>
                        </div>
                    </div>
                </div> 
            </div>
        </div><!-- /.row -->
    </div>
</main><!-- /.container -->
