<div class ="container-fluid row mx-auto bg-warning">
    <img class="col-sm-4 d-none d-sm-none d-md-block" id="ImgLaterales" src="../../assets/Recursos/police.jpg"/>
    <div id="conteregistro" class="col-sm-4 col-12 mx-auto border border-primary p-5 bg-light">
        <div class="h-25 pt-5 text-center">
            <h1  class = "text-center">Iniciar Sesión</h1>
        </div>
        <form>
            <div class="form-group">
                <label for="mail" class="ml-3"> Correo: </label>
                <input class = "form-control ml-5" type="text" name="email" id="mail">
            </div>
            <div class="form-group">
                <label for="password" class="ml-3 mt-3"> Contraseña: </label>
                <input type="password" name="psw" id="passw" class="form-control">
            </div>
            <div class="form-group">
                <a routerLink="../olvide-contrasena"><button type="submit" class="btn btn-dark">Olvidé mi contraseña</button></a>
                <a routerLink="../index"><button type="submit" class="btn btn-dark"onAction= "sde">Ingresar</button></a>
            </div>
        </form>
    </div>
    <img class="col-sm-4 d-none d-sm-none d-md-block" id="ImgLaterales" src="../../assets/Recursos/police.jpg"/>
</div>
