<main role="main" class="container">
    <div class ="row">
        <div class="col-3 flex-column">      
            <p><a class="btn btn-info" href="#inicio-text" role="button">Inicio</a></p>
            <p><a class="btn btn-info" href="#info-text" role="button">Información</a></p>
            <p><a class="btn btn-info" href="#denuncias-text" role="button">Denuncias</a></p>
            <p><a class="btn btn-info" href="#nosotros-text" role="button">Nosotros</a></p>
            <p><a class="btn btn-info" href="#ayuda-text" role="button">Ayuda</a></p>
            <p><a class="btn btn-info" href="#registrar-text" role="button">Registrar</a></p>
            <p><a class="btn btn-info" href="#login-text" role="button">Iniciar Sesión</a></p> 
            <p><a class="btn btn-danger" href="#danger-text" role="button">Botón Rojo</a></p>   
        </div><!-- /.col -->
        <div class="col-9 scrollable">
            <h3>Esta página explica los botones de la barra de navegación y cómo hacer denuncias.</h3>
            <div  class=" col-auto text-justify" id ="inicio-text">
                <strong>Inicio</strong> - Lleva a la página principal
            </div>
            <div  class=" col-auto text-justify" id ="info-text">
                <strong>Información</strong> - Material de referencia correspondiente a identificación de delitos y defensa personal.
            </div>
            <div  class=" col-auto text-justify" id ="denuncias-text">
                <strong>Denuncias</strong> - Pasos recomendados: <br>
                <ol>
                    <li>Vaya a la página Denuncias</li>
                    <li>Con los botones disponibles, seleccione el tipo de incidente que desee reportar.
                    <ul>
                        <li>En caso de no tener tiempo de llenar el formulario debido a urgencia, marque la casilla provista y envíe.</li>
                    </ul>
                    </li>
                </ol>
            </div>
            <div  class=" col-auto text-justify" id ="nosotros-text">
                <strong>Nosotros</strong> - Datos institucionales de la Fiscalía General del Estado, sus labores, misión y visión. Además de acreditar a los programadores responsables por la página web.
            </div>
            <div  class=" col-auto text-justify" id ="ayuda-text">
                <strong>Ayuda</strong> - La página de asistencia donde usted se encuentra actualmente.
            </div>
            <div  class=" col-auto text-justify" id ="registrar-text">
                <strong>Registrar</strong> - Permite creación de usuario y contraseña para el sitio.
            </div>
            <div  class=" col-auto text-justify" id ="login-text">
                <strong>Iniciar sesión</strong> - Permite ingresar a quien ya posea un usuario y contraseña.
            </div>
            <div  class=" col-auto text-justify" id ="danger-text">
                <strong class = "text-danger">Botón Rojo</strong> - Presionar para informar sobre una emergencia. Ubicación será enviada en tiempo real. Permite cancelar alarma en caso de presión accidental.
            </div>
        
        </div><!-- /.col -->
    </div> <!-- /.row -->
</main><!-- /.container -->
